<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.RunToU">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true">


        <activity android:name="com.example.RunToU.login.loginActivity"
            android:theme="@style/Theme.Runtyou"
            android:exported="true">
           <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".main.MainActivity"
            android:theme="@style/Theme.Runtyou"/>
        <activity android:name="com.example.RunToU.signup.signupActivity"
            android:theme="@style/Theme.Runtyou" />
        <meta-data android:name="com.kakao.sdk.AppKey" android:value="e65891468706ac7d59680f5e0202bfff"/>
        <activity android:name="com.example.RunToU.profile.reviewActivity"
            android:theme="@style/Theme.Runtyou"/>
        <activity android:name="com.example.RunToU.profile.settingActivity"
            android:theme="@style/Theme.Runtyou"/>
        <activity android:name="com.example.RunToU.purchase.purchaseActivity"
            android:theme="@style/Theme.Runtyou"/>
        <activity android:name="com.example.RunToU.profile.edit_introduceActivity"
            android:theme="@style/Theme.Runtyou"/>
        <activity android:name="com.example.RunToU.ordersheet.writeActivity"
            android:theme="@style/Theme.Runtyou"/>
        <activity android:name="com.example.RunToU.profile.verificationActivity"
            android:theme="@style/Theme.Runtyou"/>
        <activity android:name="com.example.RunToU.profile.jobrecActivity"
            android:theme="@style/Theme.Runtyou"/>
        <activity android:name=".chat_match.chatroomActivity"
            android:theme="@style/Theme.Runtyou"/>

        <activity android:name="com.example.RunToU.ordersheet.addressActivity"
            android:theme="@style/Theme.Runtyou"/>
        <activity android:name="com.example.RunToU.ordersheet.ordersheetActivity"
            android:theme="@style/Theme.Runtyou"/>

        <activity android:name=".ordersheet.popupActivity"
            android:theme="@style/Theme.AppCompat.DayNight"/>

    </application>

</manifest>